.menu {
  width: $side-width;
  height: 100%;
  color: $color-h2;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}